body {
    background-color: rgb(127, 206, 127);
}
h1 {
    color:rgb(139, 157, 108);
    background-color: rgb(204, 245, 212);
}
#show_sketch {
    float: right;
}
canvas {
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 160px;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow: 1px 1px 38px rgb(4, 64, 11);}
    to{box-shadow: 1px 1px 38px rgb(90, 129, 90);}
}
p {
    padding-top: 10px;
    font-size: 25px;
}
#score {
    font-size: 25px;
    float: left;
}
#timer {
    font-size: 25px;
    float: right;
}